@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

.text-wheat {
    color:wheat!important;
}

.text-wheat:focus,a.text-wheat:hover,button.text-wheat:hover{
    color:rgb(230, 193, 124)!important
}

.disabled {
    color:grey!important;
}

.text-wheat__nav{
    color:grey!important;
}
.text-wheat__nav:hover {
    color:rgb(230, 193, 124)!important
}




body {
    background:#303030;
}
